name: Machine Learning CI

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install Dependencies
      run: |
        pip install mlflow scikit-learn pandas numpy

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Commit and Push Artifacts (Skilled Requirement)
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "action@github.com"
        git add .
        git commit -m "Add trained model artifacts" || exit 0
        git push